<section class="splashscreen">
  
  <img src="/assets/svg/signage.svg" alt="" srcset="">

  <section class="auth-header">
    <span class="auth-title-header">Verify all tweets</span>
    <span class="auth-title-subheading">Sign in to validate all tweets and fact check for accuracy</span>
  </section>

  <button (click)="loginWithRedirect()" class="signinbutton"> <img class="twitter-ico" src="/assets/svg/twitter.svg" alt="" srcset=""> Continue with Twitter</button>

  <span class="disclaimer">By tapping Sign in and using Fact, you agree to our Terms and Privacy Policy </span>
</section>